################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokeNameBot/Data/botkey.txt
/.vs
/PokeNameBot/.vs/PokeNameBot
/PokeNameBot/bin/Debug/netcoreapp3.0
/PokeNameBot/obj
/PokeNameBot/Data/botkey.txt
